<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}La Liga Test{% endblock %}</title>
    {% block stylesheets %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

        {% stylesheets
        'plugins/font-awesome/css/font-awesome.min.css'
        'plugins/simple-line-icons/simple-line-icons.min.css'
        'plugins/bootstrap/css/bootstrap.min.css'
        'plugins/bootstrap-switch/css/bootstrap-switch.min.css'
        'plugins/bootstrap-toastr/toastr.min.css'

        'plugins/datatables/datatables.min.css'
        'plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
        'plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'

        'plugins/bootstrap-daterangepicker/daterangepicker.min.css'
        'plugins/morris/morris.css'
        'plugins/fullcalendar/fullcalendar.min.css'
        'plugins/jqvmap/jqvmap/jqvmap.css'

        'CSS/components.min.css'
        'CSS/plugins.min.css'

        'CSS/layout/layout.min.css'
        'CSS/layout/themes/darkblue.min.css'
        'CSS/layout/custom.min.css'
        filter='cssrewrite'  output='css/compiled/app.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
        {% endstylesheets %}

    {% endblock %}
    {% block pagestylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}"/>
</head>
<body class="{% block bodyclass %}page-header-fixed page-sidebar-closed-hide-logo page-content-white{% endblock %}">

{% block body %}{% endblock %}

{% block javascripts %}
    <script src="{{  asset('plugins/respond.min.js')  }}"></script>
    <script src="{{ asset('plugins/excanvas.min.js') }}"></script>
    <script src="{{ asset('plugins/ie8.fix.min.js') }}"></script>


    {% javascripts

    'plugins/jquery.min.js'
    'plugins/bootstrap/js/bootstrap.min.js'
    'plugins/js.cookie.min.js'
    'plugins/jquery-slimscroll/jquery.slimscroll.min.js'
    'plugins/jquery.blockui.min.js'
    'plugins/bootstrap-switch/js/bootstrap-switch.min.js'
    'plugins/bootstrap-toastr/toastr.min.js'

    'plugins/datatables/datatables.min.js'
    'plugins/datatables/plugins/bootstrap/datatables.bootstrap.js'
    'plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'

    'plugins/moment.min.js'
    'plugins/bootstrap-daterangepicker/daterangepicker.min.js'
    'plugins/morris/morris.min.js'
    'plugins/morris/raphael-min.js'
    'plugins/counterup/jquery.waypoints.min.js'
    'plugins/counterup/jquery.counterup.min.js'
    'plugins/amcharts/amcharts/amcharts.js'
    'plugins/amcharts/amcharts/serial.js'
    'plugins/amcharts/amcharts/pie.js'
    'plugins/amcharts/amcharts/radar.js'
    'plugins/amcharts/amcharts/themes/light.js'
    'plugins/amcharts/amcharts/themes/patterns.js'
    'plugins/amcharts/amcharts/themes/chalk.js'
    'plugins/amcharts/ammap/ammap.js'
    'plugins/amcharts/ammap/maps/js/worldLow.js'
    'plugins/amcharts/amstockcharts/amstock.js'
    'plugins/fullcalendar/fullcalendar.min.js'
    'plugins/horizontal-timeline/horizontal-timeline.js'
    'plugins/flot/jquery.flot.min.js'
    'plugins/flot/jquery.flot.resize.min.js'
    'plugins/flot/jquery.flot.categories.min.js'
    'plugins/jquery-easypiechart/jquery.easypiechart.min.js'
    'plugins/jquery.sparkline.min.js'
    'plugins/jqvmap/jqvmap/jquery.vmap.js'
    'plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js'
    'plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js'
    'plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js'
    'plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js'
    'plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js'
    'plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js'
    'plugins/jquery-validation/js/jquery.validate.min.js'
    'plugins/jquery-validation/js/additional-methods.min.js'
    'plugins/select2/js/select2.full.min.js'
        'js/mask.js'



    'js/main.js'
     output='js/compiled/app.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block pagescripts %}
    {% endblock %}

    <script type="text/javascript">


        {% for flashMessage in app.session.flashbag.get('success') %}
        toastr.success('{{ flashMessage }}', "Success");
        {% endfor %}


        {% for flashMessage in app.session.flashbag.get('error') %}
        toastr.error('{{ flashMessage }}', "Error:");
        {% endfor %}

    </script>

{% endblock %}

</body>
</html>