
{% extends 'layout.html.twig' %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for club in clubs %}
                    <li>{{ club.nombre }} <a href="{{ url('edit_club', {'id': club.id}) }}">Edit</a></li>
                {% endfor %}

            </ul>

        </div>
    </div>
{%  endblock  %}

