{% extends 'layout.html.twig' %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            {{ form_start(form) }}

                            <div class="form-group">
                                <label class="control-label">Nombre:</label>
                                {{ form_row(form.nombre) }}
                            </div>
                            <div class="margiv-top-10">
                                <button type="submit" class="btn green"> Save Changes</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock  %}
