{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        {% include 'includes/header.html.twig' %}
        <!-- END HEADER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->

                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            {% block navTree %}
                                <li>
                                    <a href="{{ path('homepage') }}">Home</a>
                                </li>

                            {% endblock %}
                        </ul>
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    <h1 class="page-title">
                        {% block pageTitle %}
                        {% endblock %}
                    </h1>
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- END CONTENT BODY -->
            </div>

            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        {% include 'includes/footer.html.twig' %}
        <!-- END FOOTER -->
    </div>

{% endblock %}
