{% extends 'layout.html.twig' %}

 {% block navTree %}
     <li>
         <a href="{{ path('homepage') }}">Home</a>
     </li>
 {% endblock %}

{% block pageTitle %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet-body util-btn-margin-bottom-5">
                <div class="clearfix">
                    <h4 class="block"><b>MONTHLY REPORTING AND ANALYSIS</b></h4>

                    <div class="col-md-6">
                        <a href="{{ path('create_jugadores') }}" class="btn btn-default btn-block">
                            <span class="title">Crear Jugadores</span>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="{{ path('create_club') }}" class="btn btn-default btn-block">
                            <span class="title">Crear Clubes</span>
                        </a>
                    </div>


                    <div class="col-md-12">
                        <a href="{{ path('list_club') }}" class="btn btn-default btn-block">
                            <span class="title">Listar Clubes</span>
                        </a>
                    </div>


                </div>


            </div>
        </div>
    </div>
{% endblock %}


{% block pagescripts %}


{% endblock %}
