<div class="page-footer">
    <div class="col-md-12" style="color: white;">
        <div class="text-center">2017 &copy; La Liga</div>
        <div class="text-center">Version: <strong>{{ VERSION }}</strong></div>

    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>