<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <div class="page-logo">
            <a href="#">
                <img src="{{ asset('images/logo.png') }}" height="30" alt="logo" class="logo-default" /> </a>

        </div>

    </div>
</div>
<div class="clearfix"> </div>
